---
networks:
  proxy:
    name: proxy_network

services:
  uptime-kuma:
    image: {{ uptime_kuma_image }}
    container_name: {{ uptime_kuma_container_name }}
    restart: {{ uptime_kuma_restart_policy }}
    networks:
      - proxy
    volumes:
      - {{ uptime_kuma_data_dir }}/data:/app/data
    labels:
      caddy: {{ uptime_kuma_domain }}
      caddy.reverse_proxy: "{% raw %}{{upstreams 3001}}{% endraw %}"

  caddy:
    image: {{ uptime_kuma_caddy_image }}
    container_name: caddy
    restart: {{ uptime_kuma_restart_policy }}
    networks:
      - proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ uptime_kuma_data_dir }}/caddy:/data
    environment:
      - CADDY_INGRESS_NETWORKS=proxy_network
