---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ plane_tls_secret_name }}
  namespace: {{ plane_namespace }}
  labels:
    app.kubernetes.io/name: plane
    app.kubernetes.io/managed-by: ansible
spec:
  secretName: {{ plane_tls_secret_name }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ plane_domain }}
