---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ victoria_metrics_tls_secret_name }}
  namespace: {{ victoria_metrics_namespace }}
  labels:
    app.kubernetes.io/name: victoria-metrics
    app.kubernetes.io/managed-by: ansible
spec:
  secretName: {{ victoria_metrics_tls_secret_name }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ victoria_metrics_ingress_host }}
