---
apiVersion: v1
kind: Secret
metadata:
  name: homepage-secrets
  namespace: {{ homepage_namespace }}
  labels:
    app.kubernetes.io/name: homepage
    app.kubernetes.io/part-of: dashboard
    app.kubernetes.io/managed-by: ansible
type: Opaque
stringData:
  HOMEPAGE_VAR_JELLYFIN_API_KEY: "{{ homepage_jellyfin_api_key }}"
  HOMEPAGE_VAR_SONARR_API_KEY: "{{ homepage_sonarr_api_key }}"
  HOMEPAGE_VAR_RADARR_API_KEY: "{{ homepage_radarr_api_key }}"
  HOMEPAGE_VAR_QBITTORRENT_USERNAME: "{{ homepage_qbittorrent_username }}"
  HOMEPAGE_VAR_QBITTORRENT_PASSWORD: "{{ homepage_qbittorrent_password }}"
  HOMEPAGE_VAR_SABNZBD_API_KEY: "{{ homepage_sabnzbd_api_key }}"
  HOMEPAGE_VAR_UNIFI_USERNAME: "{{ homepage_unifi_username }}"
  HOMEPAGE_VAR_UNIFI_PASSWORD: "{{ homepage_unifi_password }}"
