---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ headlamp_tls_secret_name }}
  namespace: {{ headlamp_namespace }}
  labels:
    app.kubernetes.io/name: headlamp
    app.kubernetes.io/managed-by: ansible
spec:
  secretName: {{ headlamp_tls_secret_name }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ headlamp_ingress_host }}
