- hosts: raspberrypi
  tags: [rpi]
  roles:
    - role: rpi_setup
      tags: [rpi_setup]

- hosts: localhost
  vars_files:
    - vars/homepage_secrets.yml
  roles:
    - role: install_longhorn
      tags: [longhorn, storage]
    - role: install_kubeseal
      tags: [kubeseal]
    - role: configure_traefik_acme
      tags: [traefik, acme, tls]
    - role: install_victoria_metrics
      tags: [observability, prometheus, victoria_metrics]
    - role: install_node_exporter
      tags: [observability, node_exporter]
    - role: install_grafana
      tags: [observability, grafana]
    - role: install_k8s_dashboard
      tags: [k8s_dashboard]
    - role: install_homepage
      tags: [homepage, dashboard]
    - role: install_jellyfin
      tags: [jellyfin]
    - role: install_media
      tags: [media, sonarr, radarr]
    - role: install_paperless
      tags: [paperless]
    # - role: dns_cname
    #   tags: [dns]
    #   vars:
    #     dns_cname_zone: "example.com"
    #     dns_cname_record: "test.example.com"
    #     dns_cname_target: "target.example.com"
