---
apiVersion: v1
kind: Secret
metadata:
  name: downloads-vpn-secrets
  namespace: {{ media_namespace }}
  labels:
    app.kubernetes.io/name: downloads
    app.kubernetes.io/part-of: media
    app.kubernetes.io/managed-by: ansible
type: Opaque
stringData:
  WIREGUARD_PRIVATE_KEY: "{{ media_wireguard_private_key }}"
  WIREGUARD_ADDRESSES: "{{ media_wireguard_addresses }}"
