---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: media
  namespace: {{ media_namespace }}
  labels:
    app.kubernetes.io/name: media
    app.kubernetes.io/part-of: media
    app.kubernetes.io/managed-by: ansible
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ sonarr_ingress_host }}
        - {{ radarr_ingress_host }}
        - {{ jackett_ingress_host }}
        - {{ qbittorrent_ingress_host }}
        - {{ sabnzbd_ingress_host }}
      secretName: {{ media_tls_secret_name }}
  rules:
    - host: {{ sonarr_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: sonarr
                port:
                  number: 8989
    - host: {{ radarr_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: radarr
                port:
                  number: 7878
    - host: {{ jackett_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: downloads
                port:
                  number: 9117
    - host: {{ qbittorrent_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: downloads
                port:
                  number: 8080
    - host: {{ sabnzbd_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: downloads
                port:
                  number: 8085
