---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ homepage_namespace }}
  labels:
    app.kubernetes.io/name: homepage
    app.kubernetes.io/part-of: dashboard
    app.kubernetes.io/managed-by: ansible
