---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ immich_tls_secret_name }}
  namespace: {{ immich_namespace }}
  labels:
    app.kubernetes.io/name: immich
    app.kubernetes.io/managed-by: ansible
spec:
  secretName: {{ immich_tls_secret_name }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ immich_ingress_host }}
