---
apiVersion: v1
kind: Secret
metadata:
  name: immich-secrets
  namespace: "{{ immich_namespace }}"
  labels:
    app.kubernetes.io/name: immich
    app.kubernetes.io/part-of: photos
    app.kubernetes.io/component: secrets
    app.kubernetes.io/managed-by: ansible
type: Opaque
stringData:
  postgres-user: "{{ immich_postgres_user }}"
  postgres-password: "{{ immich_postgres_password }}"
