---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: immich
  namespace: {{ immich_namespace }}
  labels:
    app.kubernetes.io/name: immich
    app.kubernetes.io/part-of: photos
    app.kubernetes.io/managed-by: ansible
spec:
  ingressClassName: traefik
  tls:
    - hosts:
        - {{ immich_ingress_host }}
      secretName: {{ immich_tls_secret_name }}
  rules:
    - host: {{ immich_ingress_host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: immich-server
                port:
                  number: 2283
