---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ prometheus_namespace }}
  labels:
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/managed-by: ansible
  annotations:
    app.kubernetes.io/description: "Observability and monitoring namespace"
