---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: victoria-metrics-data
  namespace: {{ victoria_metrics_namespace }}
  labels:
    app.kubernetes.io/name: victoria-metrics
    app.kubernetes.io/instance: victoria-metrics
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/component: storage
    app.kubernetes.io/managed-by: ansible
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ victoria_metrics_storage_class }}
  resources:
    requests:
      storage: {{ victoria_metrics_storage_size }}
