---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ grafana_tls_secret_name }}
  namespace: {{ grafana_namespace }}
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/managed-by: ansible
spec:
  secretName: {{ grafana_tls_secret_name }}
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ grafana_ingress_host }}
