- hosts: raspberrypi
  roles:
    - rpi_setup
- hosts: localhost
  roles:
    - install_kubeseal
    - install_cert_manager
    - install_k8s_dashboard
    - install_ghost
    - install_docmost
    - install_jellyfin
    - install_sonarr
    # - role: dns_cname
    #   vars:
    #     dns_cname_zone: "example.com"
    #     dns_cname_record: "test.example.com"
    #     dns_cname_target: "target.example.com"
