---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin-credentials
  namespace: {{ grafana_namespace }}
  labels:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/managed-by: ansible
type: Opaque
stringData:
  admin-user: "{{ grafana_admin_user }}"
  admin-password: "{{ grafana_admin_password }}"
